<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="/script/cookiehandler.js"></script>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const profileId = urlParams.get("id");
    </script>
  </head>
  <body>
    <div
      hx-get="https://your-supabase-project-id.supabase.co/rest/v1/rpc/get_header"
      hx-trigger="load"
    ></div>

    <main>
      <aside
        hx-get="https://your-supabase-project-id.supabase.co/rest/v1/rpc/get_profile_id"
        hx-trigger="load"
        hx-vals="js:{profile_id: profileId}"
      ></aside>
      <main
        hx-get="https://your-supabase-project-id.supabase.co/rest/v1/rpc/public_get_userid_posts"
        hx-trigger="load"
        hx-vals="js:{profile_id: profileId}"
      ></main>
    </main>
  </body>
</html>
